javasource/*/proxies/*
javasource/appcloudservices/
javasource/system/
javasource/core/
deployment/
.classpath
.project
*.launch
*.tmp
*.lock
*.bak
.idea/
.mendix-cache/
*DS_Store*
GPUCache/
.svn/
/*.launch
/deployment/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/serverselftest.mpr.bak
/serverselftest.mpr.lock
/modeler-merge-marker
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/
/nativemobile/builds/
/vendorlib/temp/
.DS_Store
/.svn/
